.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 140px;
  width: 100%;
  padding: 20px;
  margin: 0px;
  border: solid gray;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: white;

  }
li {
  display: inline-block;
  flex-direction: row;
  padding: 10px 60px 20px 40px;
  margin: 10px 10px 10px 10px;
  height: 0px;
  width: 60px;
  float: right;


}
h1 {
  display: inline-flex;
  font-size: 14px;
  flex-direction: row;
  padding: 10px 20px 20px 10px;
  margin: 0px 10px 0px 5px;
}
.main.content {
  display: flex;
  height: 100%;
  width: 100%;
  border: solid black;
}
.column.large {
  display: flex;
  margin-top: 40px;
  margin-right: 30px;
  width: 630px;
  height: 100%;
  border: solid black;
  flex-direction: column;
  align-items: space-between;







}
.column.medium {
  display: flex;
  margin-top: 40px;
  margin-right: 30px;
  flex-direction: column;
  width: 300px;
  height: 100%;

  border: solid black;
}
.column.small {
  display: flex;
  margin-top: 40px;
  margin-right: 30px;
  width: 240px;
  height: 1000px;
  flex-direction: column;

  border: solid black;
}
h2 {

  margin-top: 0;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-bottom: 160px;

}
h2.champaigne {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}
h4 {
  border: solid gray;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-bottom: 260px;
}
h4.sunset {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  text-align: center;
  padding-bottom: 100px;
  padding-top: 90px;

}
h4.camera {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  text-align: center;
  padding-bottom: 195px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
h3 {
  font-family: Georgia;
  font-size: 25px;
  color: black;

}
h4.cat.pic {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  padding-bottom: 220px;
}
.orca {
  align-items: flex-start;
  width: 300px;
  border: solid black;
  order: 0;

}
.fbi {

  border: solid black;
}
.cats {

  border: solid black;
  margin-top: 0;
  margin-bottom: 100%;

}
.burger {
order: 1;
width: 260px;
margin-top: 0px;
border: solid black;
align-self: flex-end;
margin-bottom: 10px;
float: inherit;










}
 .cookie{
   border: solid black;

}
